@font-face {
    font-family: drugs-font;
    src: url('/drugs/Drugs.otf');
}

* {
    margin: 0;
    padding: 0;
    font-family: 'drugs-font';
}

body {
    background-color: aliceblue;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

body nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: #034694;
    width: 100%;
    height: 5rem;
    color: aliceblue;
    position: fixed;
    top: 0;
    z-index: 1000;
}

body nav span img {
    width: 3rem;
    height: auto;
    padding-right: 1rem;
}

body nav p {
    margin: 0;
    padding: 0;
}

body nav button {
    background-color: #034694;
    border: none;
    color: aliceblue;
    margin-right: 3rem;
    margin-left: 3rem;
    cursor: pointer;
}

.container {
    margin-top: 5rem;
}

h2 {
    text-align: center;
    margin-bottom: 2rem;
}

table {
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
}

th,
td {
    border: 1px solid #ddd;
    padding: 8px;
    width: 20%;
}

th {
    background-color: #034694;
    color: aliceblue;
    font-weight: bold;
}

td {
    background-color: #f9f9f9;
}